<template>
  <q-page class="q-pa-md">
    <div class="row">
      <div class="col-12">
        <item-form @submission="handleSubmit" />
      </div>
    </div>
  </q-page>
</template>

<script setup>
import ItemForm from 'src/components/ItemForm.vue'
import { useQuasar } from 'quasar'
import { useRouter } from 'vue-router'
import { useItemsStore } from 'src/stores/items-store'

const itemsStore = useItemsStore()
const $q = useQuasar()
const router = useRouter()

const handleSubmit = (formData) => {
  const item = {
    ...formData,
    category_id: formData.category.id,
    marked_as_discarded: Number(JSON.parse(formData.marked_as_discarded)),
    marked_as_defective: Number(JSON.parse(formData.marked_as_defective))
  }
  itemsStore
    .add(item)
    .then(() => {
      router.push({
        name: 'category_items',
        params: { category_id: formData.category.id, category_slug: formData.category.slug }
      })
      $q.notify({
        message: `Item Created`,
        timeout: 2000,
        position: 'bottom'
      })
    })
    .catch((e) => console.log(e))
  //console.log(item)
}
</script>
l
