<template>
  <q-page class="q-pb-sm q-pt-md">
    <div class="row q-col-gutter-md">
      <div class="col-12">
        <q-form @submit.prevent="() => {}">
          <q-input
            class="q-px-md"
            dense
            type="search"
            label="SEARCH"
            hint="Numeric Product Number"
            hide-bottom-space
            :rules="[
              (val) => (val && Number.isInteger(Number.parseInt(val))) || 'Enter numeric value'
            ]"
            v-model="searchValue"
            debounce="300"
            @update:model-value="triggerSearch"
          >
            <template #append>
              <q-btn
                icon="o_search"
                flat
                dense
                unelevated
                round
                :loading="itemsStore.isFetchingItems"
              />
            </template>
          </q-input>
        </q-form>
      </div>
      <div class="col-12">
        <q-bar dark class="bg-grey-3 text-dark">
          <p class="text-caption text-weight-medium text-uppercase q-ma-none">Product details</p>
        </q-bar>
      </div>
      <div class="col-12">
        <q-list>
          <q-list>
            <q-item
              v-if="
                searchValue != null &&
                searchValue.length > 0 &&
                !itemsStore.isFetchingItems &&
                itemsStore.searched_items.length === 0
              "
            >
              <q-item-section>
                <q-banner class="bg-blue-1 text-primary rounded-borders">No Items Found</q-banner>
              </q-item-section>
            </q-item>
            <template v-else-if="!itemsStore.isFetchingItems">
              <template v-for="(item, index) in itemsStore.searched_items" :key="item.id">
                <q-item>
                  <q-item-section>
                    <div class="text-subtitle2 text-weight-bold text-uppercase">
                      {{ item.category_name }}
                    </div>
                    <div class="text-body2">{{ item.brand + ' ' + item.model }}</div>
                    <div class="text-body2">{{ item.description }}</div>
                    <div v-if="item.marked_as_discarded || item.marked_as_defective">
                      <q-badge
                        v-if="item.marked_as_discarded"
                        color="red-1"
                        text-color="red-7"
                        label="DISCARDED"
                        class="q-mr-sm"
                      />
                      <q-badge
                        v-if="item.marked_as_defective"
                        color="orange-1"
                        text-color="orange-7"
                        label="DEFECTED"
                      />
                    </div>
                    <div class="q-pb-sm q-pt-lg">
                      <q-btn
                        padding="5px 25px"
                        size="12px"
                        unelevated
                        label="assign"
                        color="light-blue-7"
                        @click.prevent="assignItem(item.id)"
                        :loading="assignId == item.id && itemsStore.isSubmitting"
                      />
                    </div>
                  </q-item-section>
                  <q-item-section side top
                    ><q-badge color="light-blue-1" text-color="primary">{{ item.code }}</q-badge>
                  </q-item-section>
                </q-item>
                <q-separator v-if="index + 1 < itemsStore.searched_items.length" spaced inset
              /></template>
            </template>
          </q-list>
        </q-list>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { useRoute, useRouter } from 'vue-router'
import { ref, onMounted } from 'vue'
import { useItemsStore } from 'src/stores/items-store'
import { date, useQuasar } from 'quasar'

const route = useRoute()
const router = useRouter()
const $q = useQuasar()
const searchValue = ref(null)
const itemsStore = useItemsStore()
const assignId = ref(null)

const triggerSearch = () => {
  if (
    searchValue.value != null &&
    searchValue.value.length > 0 &&
    Number.isInteger(Number.parseInt(searchValue.value))
  ) {
    itemsStore.search(searchValue.value)
  } else {
    itemsStore.resetSearchItems()
  }
}

const assignItem = (itemId) => {
  assignId.value = itemId
  const assignedData = {
    user_id: route.params.user_id,
    date_borrowed: date.formatDate(Date.now(), 'YYYY-MM-DD')
  }

  $q.dialog({
    message: 'Want to assign this item?',
    ok: {
      padding: '5px 25px',
      size: '12px',
      unelevated: true,
      label: 'OKAY',
      color: 'light-blue-7'
    },
    cancel: {
      label: 'Cancel',
      color: 'grey-12',
      textColor: 'dark',
      unelevated: true,
      padding: '5px 25px',
      size: '12px'
    }
  }).onOk(() => {
    itemsStore.update(itemId, assignedData).then(() => {
      router.back()
      $q.notify({
        message: `Item Assigned`,
        timeout: 2000,
        position: 'bottom'
      })
    })
  })
}

onMounted(() => {
  itemsStore.resetSearchItems()
})
</script>
