<template>
  <q-page padding>
    <q-list separator class="q-mt-sm" dense>
      <q-item
        v-if="!categoriesStore.isFetchingCategories && categoriesStore.categories.length === 0"
      >
        <q-item-section>
          <q-banner class="bg-blue-1 text-primary rounded-borders">No Categories Found</q-banner>
        </q-item-section>
      </q-item>
      <template v-else-if="!categoriesStore.isFetchingCategories">
        <q-item clickable v-for="category in categoriesStore.categories" :key="category.id">
          <q-item-section
            class="text-bold text-uppercase"
            @click.prevent="goToCategoryItemsRoute(category.id, category.slug)"
            >{{ category.name }}</q-item-section
          >
          <q-item-section side>
            <q-btn icon="o_more_vert" unelevated round dense flat color="dark">
              <q-menu square :offset="[-14, -15]">
                <q-list class="menu-list-width" dense>
                  <q-item clickable @click.prevent="handleEditClick(category.id)" v-close-popup>
                    <q-item-section>Edit</q-item-section>
                  </q-item>
                  <q-separator />
                  <q-item clickable @click.prevent="handleDelete(category.id)" v-close-popup>
                    <q-item-section>Delete</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-item-section>
        </q-item>
      </template>
      <q-separator v-if="categoriesStore.categories.length > 0" />
    </q-list>

    <fab-add-component @click.prevent="promptModal = true" />

    <q-dialog v-model="promptModal" @before-hide="resetRefs">
      <q-card style="width: 350px">
        <q-form @submit.prevent="handleSubmit">
          <q-card-section class="q-pb-none">
            <div class="text-body2">CATEGORY NAME</div>
            <q-input
              v-model="categoryName"
              type="text"
              :rules="[(val) => (val != null && val.length > 0) || 'Category name is required']"
              dense
            />
          </q-card-section>

          <q-card-actions align="right" class="q-pb-md">
            <q-btn
              padding="5px 25px"
              size="12px"
              unelevated
              label="Cancel"
              color="grey-12"
              text-color="dark"
              v-close-popup
            />
            <q-btn
              type="submit"
              padding="5px 25px"
              size="12px"
              unelevated
              :label="toUpdate ? 'UPDATE' : 'SAVE'"
              color="light-blue-7"
              :loading="categoriesStore.isAdding"
            />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script setup>
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useQuasar } from 'quasar'
import FabAddComponent from 'src/components/FabAddComponent.vue'
import { useCategoriesStore } from 'src/stores/categories-store'

const categoriesStore = useCategoriesStore()
const $q = useQuasar()
const promptModal = ref(false)
const categoryName = ref(null)
const toUpdate = ref(false)
const editId = ref(null)
const router = useRouter()

const resetRefs = () => {
  editId.value = null
  categoryName.value = null
  toUpdate.value = null
  promptModal.value = null
}

const handleEditClick = (id) => {
  toUpdate.value = true
  promptModal.value = true
  editId.value = id
  categoriesStore.single(id).then((d) => (categoryName.value = d.name))
}

const handleSubmit = () => {
  if (toUpdate.value) {
    categoriesStore.update(editId.value, categoryName.value).then(() => {
      categoriesStore.getAll().then(() => {
        $q.notify({
          message: 'Category Updated Successfully!',
          timeout: 2000,
          position: 'bottom'
        })
      })
    })
  } else {
    categoriesStore.add(categoryName.value).then(() => {
      $q.notify({
        message: 'Category Created Successfully!',
        timeout: 2000,
        position: 'bottom'
      })
    })
  }
  resetRefs()
}

const handleDelete = (id) => {
  $q.dialog({
    message: 'Are you sure you want to delete this category and all items under it?',
    ok: {
      color: 'negative',
      label: 'delete',
      unelevated: true,
      padding: '5px 25px',
      size: '12px'
    },
    cancel: {
      label: 'Cancel',
      color: 'grey-12',
      textColor: 'dark',
      unelevated: true,
      padding: '5px 25px',
      size: '12px'
    }
  }).onOk(() => {
    categoriesStore.remove(id).then(() => {
      $q.notify({
        message: 'Category Deleted Successfully!',
        timeout: 2000,
        position: 'bottom'
      })
    })
  })
}

const goToCategoryItemsRoute = (id, slug) => {
  router.push({ name: 'category_items', params: { category_id: id, category_slug: slug } })
}

onMounted(() => {
  categoriesStore.getAll()
})
</script>

<style lang="css" scoped>
.menu-list-width {
  width: 150px;
}
</style>
