<template>
  <q-page padding>
    <div class="row q-col-gutter-sm">
      <div class="col-md-3 col-6">
        <q-card class="bg-purple-1 text-purple-5" flat bordered v-ripple clickable>
          <q-item class="q-py-md flex-center" clickable>
            <div class="row flex-center items-stretch">
              <div class="col-12 text-center">
                <q-icon name="o_person" size="40px" class="q-pb-sm" />
              </div>
              <div class="col-12 text-center text-h4">
                <q-spinner-dots v-if="dashboardStore.total.users == null" />
                <template v-else>
                  {{ dashboardStore.total.users }}
                </template>
              </div>
              <div class="col-12 text-center text-overline text-center">Users</div>
            </div>
          </q-item>
        </q-card>
      </div>
      <div class="col-md-3 col-6">
        <q-card class="bg-deep-purple-1 text-deep-purple-5" flat bordered v-ripple clickable>
          <q-item class="q-py-md flex-center" clickable>
            <div class="row flex-center items-stretch">
              <div class="col-12 text-center">
                <q-icon name="o_category" size="40px" class="q-pb-sm" />
              </div>
              <div class="col-12 text-center text-h4">
                <q-spinner-dots v-if="dashboardStore.total.categories == null" />
                <template v-else>
                  {{ dashboardStore.total.categories }}
                </template>
              </div>
              <div class="col-12 text-center text-overline text-center">Equipments</div>
            </div>
          </q-item>
        </q-card>
      </div>
      <div class="col-md-3 col-6">
        <q-card class="bg-indigo-1 text-indigo-5" flat bordered v-ripple clickable>
          <q-item class="q-py-md flex-center" clickable>
            <div class="row flex-center items-stretch">
              <div class="col-12 text-center">
                <q-icon name="o_devices" size="40px" class="q-pb-sm" />
              </div>
              <div class="col-12 text-center text-h4">
                <q-spinner-dots v-if="dashboardStore.total.items == null" />
                <template v-else>
                  {{ dashboardStore.total.items }}
                </template>
              </div>
              <div class="col-12 text-center text-overline text-center">Items</div>
            </div>
          </q-item>
        </q-card>
      </div>
      <div class="col-md-3 col-6">
        <q-card class="bg-teal-1 text-teal-5" flat bordered v-ripple clickable>
          <q-item class="q-py-md flex-center" clickable>
            <div class="row flex-center items-stretch">
              <div class="col-12 text-center">
                <q-icon name="o_handshake" size="40px" class="q-pb-sm" />
              </div>
              <div class="col-12 text-center text-h4">
                <q-spinner-dots v-if="dashboardStore.total.borrows == null" />
                <template v-else>
                  {{ dashboardStore.total.borrows }}
                </template>
              </div>
              <div class="col-12 text-center text-overline text-center">Borrows</div>
            </div>
          </q-item>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { onMounted } from 'vue'
import { useDashboardStore } from 'src/stores/dashboard-store'
const dashboardStore = useDashboardStore()

onMounted(() => {
  dashboardStore.getStats()
})
</script>
