<template>
  <q-page padding>
    <q-list separator class="q-mt-sm">
      <q-item v-if="!itemsStore.isFetchingItems && itemsStore.items.length === 0">
        <q-item-section>
          <q-banner class="bg-blue-1 text-primary rounded-borders">No Items Found</q-banner>
        </q-item-section>
      </q-item>
      <template v-else-if="!itemsStore.isFetchingItems">
        <q-item v-for="item in itemsStore.items" :key="item.id">
          <q-item-section>
            <div class="text-body1">{{ item.brand + ' ' + item.model }}</div>
            <div class="text-body2">{{ item.description }}</div>
            <div v-if="item.marked_as_discarded || item.marked_as_defective">
              <q-badge
                v-if="item.marked_as_discarded"
                color="red-1"
                text-color="red-7"
                label="DISCARDED"
                class="q-mr-sm"
              />
              <q-badge
                v-if="item.marked_as_defective"
                color="orange-1"
                text-color="orange-7"
                label="DEFECTED"
              />
            </div>
          </q-item-section>
          <q-item-section side top
            ><q-badge color="light-blue-1" text-color="primary">{{ item.code }}</q-badge>
          </q-item-section>
          <q-item-section side>
            <q-btn icon="o_more_vert" unelevated round dense flat color="dark">
              <q-menu square :offset="[-14, -15]">
                <q-list class="menu-list-width" dense separator>
                  <q-item clickable :to="{ name: 'edit_item', params: { id: item.id } }">
                    <q-item-section>Edit</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click.prevent="handleDelete(item.id)">
                    <q-item-section>Delete</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click.prevent="handleDiscardClick(item.id)">
                    <q-item-section>Discard Item</q-item-section>
                  </q-item>
                  <q-item
                    clickable
                    v-close-popup
                    @click.prevent="handleMarkDefectiveClick(item.id)"
                  >
                    <q-item-section>Mark Defective</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-item-section>
        </q-item>
      </template>
      <q-separator v-if="itemsStore.items.length > 0" />
    </q-list>

    <q-dialog v-model="promptModal" @before-hide="resetRefs">
      <q-card style="width: 350px">
        <q-form @submit.prevent="handleSubmit">
          <q-card-section class="q-pb-none">
            <div class="text-body1">{{ promptModalTitle }}</div>
            <div class="text-body2">{{ promptModalHint }}</div>
            <q-input
              type="text"
              v-model="promptModalInput"
              dense
              :rules="[(val) => (val != null && val.length > 0) || 'Field cannot be left empty']"
            />
          </q-card-section>

          <q-card-actions align="right" class="q-pb-md">
            <q-btn
              padding="5px 25px"
              size="12px"
              unelevated
              label="Cancel"
              color="grey-12"
              text-color="dark"
              v-close-popup
            />
            <q-btn
              type="submit"
              padding="5px 25px"
              size="12px"
              unelevated
              label="SAVE"
              color="light-blue-7"
            />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>

    <fab-add-component @click.prevent="goToAddItemPage" />
  </q-page>
</template>

<script setup>
import { onMounted, ref } from 'vue'
import { useQuasar } from 'quasar'
import { useRoute, useRouter } from 'vue-router'
import FabAddComponent from 'src/components/FabAddComponent.vue'
import { useItemsStore } from '../stores/items-store'

const promptModal = ref(false)
const itemsStore = useItemsStore()
const route = useRoute()
const router = useRouter()
const $q = useQuasar()
const promptModalTitle = ref(null)
const promptModalHint = ref(null)
const promptModalInput = ref(null)
const editId = ref(null)
const toAction = ref(null)

const resetRefs = () => {
  promptModal.value = false
  promptModalHint.value = null
  promptModalTitle.value = null
  promptModalInput.value = null
  editId.value = null
  toAction.value = null
}

const handleDiscardClick = (id) => {
  promptModal.value = true
  promptModalTitle.value = 'Reason For Discarding'
  promptModalHint.value = 'Reason could be sold, cannot be fixed, lost, stolen, etc'
  editId.value = id
  toAction.value = 'discard'
}

const handleMarkDefectiveClick = (id) => {
  promptModal.value = true
  promptModalTitle.value = 'Explain The Defect'
  promptModalHint.value =
    'Explain what the issue is and what can be done if fixable. If not fixable, discard the item instead'
  editId.value = id
  toAction.value = 'defect'
}

const handleDelete = (id) => {
  $q.dialog({
    message: 'Are you sure you want to delete this items and all records under it?',
    ok: {
      color: 'negative',
      label: 'delete',
      unelevated: true,
      padding: '5px 25px',
      size: '12px'
    },
    cancel: {
      label: 'Cancel',
      color: 'grey-12',
      textColor: 'dark',
      unelevated: true,
      padding: '5px 25px',
      size: '12px'
    }
  }).onOk(() => {
    itemsStore.remove(id).then(() => {
      $q.notify({
        message: 'Item Deleted Successfully!',
        timeout: 2000,
        position: 'bottom'
      })
    })
  })
}

const handleSubmit = () => {
  let updatedItem = {}
  if (toAction.value == 'discard') {
    updatedItem = { marked_as_discarded: 1, discarded_description: promptModalInput.value }
  } else if (toAction.value == 'defect') {
    updatedItem = { marked_as_defective: 1, defective_description: promptModalInput.value }
  }

  const actionValue = toAction.value

  itemsStore.update(editId.value, updatedItem).then(() => {
    itemsStore.getAll(route.params.category_id).then(() => {
      $q.notify({
        message: `Item marked ${actionValue}ed`,
        timeout: 2000,
        position: 'bottom'
      })
    })
  })
  resetRefs()
}

const goToAddItemPage = () => {
  router.push({ name: 'add_item' })
}

onMounted(() => {
  itemsStore.getAll(route.params.category_id)
})
</script>

<style lang="css" scoped>
.menu-list-width {
  width: 150px;
}
</style>
