<template>
  <q-page padding>
    <q-list separator class="q-mt-lg">
      <q-item v-if="!usersStore.isFetchingUsers && usersStore.users.length === 0">
        <q-item-section>
          <q-banner class="bg-blue-1 text-primary rounded-borders">No Users Found</q-banner>
        </q-item-section>
      </q-item>
      <template v-else-if="!usersStore.isFetchingUsers">
        <q-item
          clickable
          v-for="user in usersStore.users"
          :key="user.id"
          @click.prevent="goToUserProfilePage(user.id, user.name)"
        >
          <q-item-section avatar class="q-mr-sm">
            <q-avatar size="50px">
              <q-img class="avatar-img-fixer" :src="user.image_url" />
            </q-avatar>
          </q-item-section>
          <q-item-section class="text-bold">{{ user.name }}</q-item-section>
        </q-item>
      </template>
    </q-list>

    <fab-add-component />
  </q-page>
</template>

<script setup>
import FabAddComponent from 'src/components/FabAddComponent.vue'
import { useUsersStore } from 'src/stores/users-store'
import { onMounted } from 'vue'
import { useRouter } from 'vue-router'

const usersStore = useUsersStore()
const router = useRouter()

const goToUserProfilePage = (id, name) => {
  router.push({
    name: 'user_profile',
    params: { user_id: id, user_name: name.toLowerCase().replaceAll(' ', '-') }
  })
}

onMounted(() => {
  usersStore.getAll()
})
</script>

<style lang="css" scoped>
.avatar-img-fixer {
  border: 2px solid rgba(128, 128, 128, 0.8);
  border-radius: 50%;
  min-height: 100%;
  max-height: 100%;
}
</style>
