<template>
  <q-page class="q-py-sm">
    <div class="row column q-col-gutter-md">
      <div class="col-12 flex flex-center">
        <q-avatar class="q-mt-sm" size="80px">
          <q-img class="avatar-img-fixer" :src="usersStore.user.image_url" />
        </q-avatar>
      </div>
      <div class="col-12">
        <q-bar dark class="bg-grey-3 text-dark">
          <p class="text-caption text-weight-medium text-uppercase q-ma-none">equipments</p>
        </q-bar>
      </div>
      <div class="col-12">
        <q-list>
          <q-item
            v-if="
              !usersStore.isFetchingUsers &&
              !itemsStore.isFetchingItems &&
              itemsStore.user_items.length === 0
            "
          >
            <q-item-section>
              <q-banner class="bg-blue-1 text-primary rounded-borders">No Items Found</q-banner>
            </q-item-section>
          </q-item>
          <template v-else-if="!usersStore.isFetchingUsers && !itemsStore.isFetchingItems">
            <template v-for="(item, index) in itemsStore.user_items" :key="item.id">
              <q-item>
                <q-item-section>
                  <div class="text-subtitle2 text-weight-bold text-uppercase">
                    {{ item.category_name }}
                  </div>
                  <div class="text-body2">{{ item.brand + ' ' + item.model }}</div>
                  <div class="text-body2">{{ item.description }}</div>
                  <div v-if="item.marked_as_discarded || item.marked_as_defective">
                    <q-badge
                      v-if="item.marked_as_discarded"
                      color="red-1"
                      text-color="red-7"
                      label="DISCARDED"
                      class="q-mr-sm"
                    />
                    <q-badge
                      v-if="item.marked_as_defective"
                      color="orange-1"
                      text-color="orange-7"
                      label="DEFECTED"
                    />
                  </div>
                </q-item-section>

                <q-item-section side top>
                  {{
                    `${
                      dateDiff(item.date_borrowed) == 0
                        ? 'Today'
                        : dateDiff(item.date_borrowed).toString() + ' Days'
                    }`
                  }}
                  <q-badge class="q-mt-sm" color="light-blue-1" text-color="primary">{{
                    item.code
                  }}</q-badge>
                </q-item-section>
                <q-item-section side>
                  <q-btn icon="o_more_vert" unelevated round dense flat color="dark">
                    <q-menu square :offset="[-14, -15]">
                      <q-list class="menu-list-width" dense separator>
                        <q-item clickable v-close-popup @click.prevent="handleRetock(item.id)">
                          <q-item-section>Restock to Inventory</q-item-section>
                        </q-item>
                        <q-item
                          clickable
                          v-close-popup
                          @click.prevent="handleDiscardClick(item.id)"
                        >
                          <q-item-section>Discard Item</q-item-section>
                        </q-item>
                        <q-item
                          clickable
                          v-close-popup
                          @click.prevent="handleMarkDefectiveClick(item.id)"
                        >
                          <q-item-section>Mark Defective</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </q-item-section>
              </q-item>
              <q-separator v-if="index + 1 < itemsStore.user_items.length" spaced inset
            /></template>
          </template>
        </q-list>
      </div>
    </div>

    <q-dialog v-model="promptModal" @before-hide="resetRefs">
      <q-card style="width: 350px">
        <q-form @submit.prevent="handleSubmit">
          <q-card-section class="q-pb-none">
            <div class="text-body1">{{ promptModalTitle }}</div>
            <div class="text-body2">{{ promptModalHint }}</div>
            <q-input
              type="text"
              v-model="promptModalInput"
              dense
              :rules="[(val) => (val != null && val.length > 0) || 'Field cannot be left empty']"
            />
          </q-card-section>

          <q-card-actions align="right" class="q-pb-md">
            <q-btn
              padding="5px 25px"
              size="12px"
              unelevated
              label="Cancel"
              color="grey-12"
              text-color="dark"
              v-close-popup
            />
            <q-btn
              type="submit"
              padding="5px 25px"
              size="12px"
              unelevated
              label="SAVE"
              color="light-blue-7"
            />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>

    <fab-add-component @click.prevent="goToAssignEquipmentPage" />
  </q-page>
</template>

<script setup>
import { onMounted, ref } from 'vue'
import FabAddComponent from 'src/components/FabAddComponent.vue'
import { useRouter, useRoute } from 'vue-router'
import { useUsersStore } from 'src/stores/users-store'
import { useItemsStore } from 'src/stores/items-store'
import { date, useQuasar } from 'quasar'

const router = useRouter()
const route = useRoute()
const usersStore = useUsersStore()
const itemsStore = useItemsStore()
const $q = useQuasar()
const promptModal = ref(false)
const promptModalTitle = ref(null)
const promptModalHint = ref(null)
const promptModalInput = ref(null)
const editId = ref(null)
const toAction = ref(null)

const resetRefs = () => {
  promptModal.value = false
  promptModalHint.value = null
  promptModalTitle.value = null
  promptModalInput.value = null
  editId.value = null
  toAction.value = null
}

const handleDiscardClick = (id) => {
  promptModal.value = true
  promptModalTitle.value = 'Reason For Discarding'
  promptModalHint.value = 'Reason could be sold, cannot be fixed, lost, stolen, etc'
  editId.value = id
  toAction.value = 'discard'
}

const handleMarkDefectiveClick = (id) => {
  promptModal.value = true
  promptModalTitle.value = 'Explain The Defect'
  promptModalHint.value =
    'Explain what the issue is and what can be done if fixable. If not fixable, discard the item instead'
  editId.value = id
  toAction.value = 'defect'
}

const handleSubmit = () => {
  let updatedItem = {}
  if (toAction.value == 'discard') {
    updatedItem = { marked_as_discarded: 1, discarded_description: promptModalInput.value }
  } else if (toAction.value == 'defect') {
    updatedItem = { marked_as_defective: 1, defective_description: promptModalInput.value }
  }
  const actionValue = toAction.value
  itemsStore.update(editId.value, updatedItem).then(() => {
    itemsStore.byUsers(route.params.user_id).then(() => {
      $q.notify({
        message: `Item marked ${actionValue}ed`,
        timeout: 2000,
        position: 'bottom'
      })
    })
  })
  resetRefs()
}

const handleRetock = (id) => {
  $q.dialog({
    message: 'Want to restock this item?',
    ok: {
      padding: '5px 25px',
      size: '12px',
      unelevated: true,
      label: 'OKAY',
      color: 'light-blue-7'
    },
    cancel: {
      label: 'Cancel',
      color: 'grey-12',
      textColor: 'dark',
      unelevated: true,
      padding: '5px 25px',
      size: '12px'
    }
  }).onOk(() => {
    const updatedItem = { user_id: null, date_borrowed: null }
    itemsStore.update(id, updatedItem).then(() => {
      itemsStore.byUsers(route.params.user_id).then(() => {
        $q.notify({
          message: 'Item Restocked Successfully!',
          timeout: 2000,
          position: 'bottom'
        })
      })
    })
  })
}

const goToAssignEquipmentPage = () => {
  router.push({ name: 'assign_equipment' })
}

const dateDiff = (prevDate) => {
  const currDate = Date.now()
  const diff = date.getDateDiff(currDate, prevDate, 'days')
  return diff
}

onMounted(() => {
  usersStore.single(route.params.user_id).then(() => {
    itemsStore.byUsers(route.params.user_id)
  })
})
</script>

<style lang="css" scoped>
.avatar-img-fixer {
  border: 2px solid rgba(128, 128, 128, 0.8);
  border-radius: 50%;
  min-height: 100%;
  max-height: 100%;
}
.menu-list-width {
  width: 160px;
}
</style>
