<template>
  <q-page-sticky position="bottom-right" :offset="[18, 18]" style="border-radius: 50% !important">
    <q-btn icon="o_add" color="accent" unelevated round />
  </q-page-sticky>
</template>
