<template>
  <q-form @submit.prevent="handleSubmit">
    <q-select
      :options="categoriesStore.categories"
      label="CATEGORY"
      v-model="formData.category"
      :rules="[(val) => val || 'Select Category']"
      hide-bottom-space
    />
    <q-input
      type="text"
      label="CODE"
      v-model="formData.code"
      hide-bottom-space
      :rules="[(val) => (val && Number.isInteger(Number.parseInt(val))) || 'Enter numeric value']"
    />
    <q-input
      v-model="formData.date_added"
      type="text"
      @click="datePickerDialog = true"
      label="DATE"
      :readonly="isDateInputFocused"
      @focus="isDateInputFocused = true"
      @blur="isDateInputFocused = false"
    />
    <q-input
      type="text"
      label="BRAND"
      v-model="formData.brand"
      :rules="[(val) => (val && val.length > 0) || 'Enter brand name']"
      hide-bottom-space
    />
    <q-input
      type="text"
      label="MODEL"
      v-model="formData.model"
      :rules="[(val) => (val && val.length > 0) || 'Enter Model']"
      hide-bottom-space
    />
    <q-input
      type="text"
      label="DESCRIPTION"
      v-model="formData.description"
      :rules="[(val) => (val && val.length > 0) || 'Provide Description']"
      hide-bottom-space
      autogrow
    />
    <q-item class="q-px-none q-pt-md">
      <q-item-section side top>
        <q-checkbox dense size="xl" v-model="formData.marked_as_discarded" />
      </q-item-section>
      <q-item-section>
        <div
          class="q-pl-none text-body1"
          @click.prevent="formData.discard = !formData.marked_as_discarded"
        >
          Mark Discarded
        </div>
        <q-input
          v-model="formData.discard_description"
          type="textarea"
          label="REASON FOR DISCARDING"
          autogrow
          :disable="!formData.marked_as_discarded"
          :rules="[(val) => (val && val.length > 0) || 'Provide discading reason']"
          hide-bottom-space
        />
      </q-item-section>
    </q-item>
    <q-item class="q-px-none">
      <q-item-section side top>
        <q-checkbox dense size="xl" v-model="formData.marked_as_defective" />
      </q-item-section>
      <q-item-section>
        <div
          class="q-pl-none text-body1"
          @click.prevent="formData.defect = !formData.marked_as_defective"
        >
          Mark Defect
        </div>
        <q-input
          v-model="formData.defect_description"
          type="textarea"
          label="REASON OF DEFECT"
          autogrow
          :disable="!formData.marked_as_defective"
          :rules="[(val) => (val && val.length > 0) || 'Provide defect reason']"
          hide-bottom-space
        />
      </q-item-section>
    </q-item>
    <div class="text-right q-pt-md">
      <q-btn
        padding="5px 25px"
        size="12px"
        unelevated
        label="Cancel"
        color="grey-12"
        text-color="dark"
        class="q-mr-sm"
        type="reset"
      />
      <q-btn
        type="submit"
        padding="5px 25px"
        size="12px"
        unelevated
        label="SAVE"
        color="light-blue-7"
      />
    </div>
  </q-form>
  <q-dialog v-model="datePickerDialog">
    <q-date v-model="formData.date_added" />
  </q-dialog>
</template>

<script setup>
import { date } from 'quasar'
import { ref, onMounted, defineEmits, defineProps, watch, computed } from 'vue'
import { useRoute } from 'vue-router'
import { useCategoriesStore } from 'src/stores/categories-store'

const route = useRoute()
const datePickerDialog = ref(false)
const categoriesStore = useCategoriesStore()
const isDateInputFocused = ref(false)
const emits = defineEmits(['submission'])
const props = defineProps(['editItem'])

const formData = ref({
  date_added: date.formatDate(Date.now(), 'YYYY/MM/DD'),
  category: null,
  brand: null,
  model: null,
  description: null,
  marked_as_discarded: false,
  marked_as_defective: false,
  discard_description: null,
  defect_description: null
})

const handleSubmit = () => {
  emits('submission', {
    ...formData.value,
    date_added: date.formatDate(formData.value.date_added, 'YYYY-MM-DD')
  })
}

const hasEditItem = computed(() => props.editItem !== null)

watch(hasEditItem, () => {
  formData.value = {
    ...formData.value,
    ...props.editItem,
    date_added: date.formatDate(props.editItem.date_added, 'YYYY/MM/DD')
  }
})

onMounted(() => {
  categoriesStore.getAll().then(() => {
    formData.value.category = categoriesStore.categories.find(
      (d) => d.id == route.params.category_id
    )
  })
})
</script>
