<template>
  <q-layout view="lHh Lpr lFf">
    <q-header unelevated>
      <q-toolbar class="primary">
        <q-btn flat dense round icon="o_menu" aria-label="Menu" @click="toggleLeftDrawer" />

        <q-toolbar-title class="text-center text-uppercase text-subtitle2">
          {{ route.name }}
        </q-toolbar-title>

        <div side>
          <q-btn class="invisible" color="white" icon="o_logout" dense flat round />
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header> Links </q-item-label>

        <q-item clickable :to="{ name: 'dashboard' }" exact>
          <q-item-section avatar>
            <q-icon name="o_dashboard" />
          </q-item-section>

          <q-item-section>
            <q-item-label>Dashboard</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable :to="{ name: 'users' }">
          <q-item-section avatar>
            <q-icon name="o_person" />
          </q-item-section>

          <q-item-section>
            <q-item-label>Users</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable :to="{ name: 'equipments' }">
          <q-item-section avatar>
            <q-icon name="o_category" />
          </q-item-section>

          <q-item-section>
            <q-item-label>Equipments</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <q-ajax-bar position="top" color="red" />
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
import { ref } from 'vue'
import { useRoute } from 'vue-router'

const leftDrawerOpen = ref(false)
const route = useRoute()

const toggleLeftDrawer = () => {
  leftDrawerOpen.value = !leftDrawerOpen.value
}
</script>
