<template>
  <q-layout view="lHh Lpr lFf">
    <q-header unelevated>
      <q-toolbar class="primary">
        <q-btn flat dense round icon="o_arrow_back" aria-label="Menu" @click="goBack()" />

        <q-toolbar-title class="text-center text-uppercase text-subtitle2">
          {{ setToolbartitle }}
        </q-toolbar-title>

        <div side>
          <q-btn class="invisible" color="white" icon="o_logout" dense flat round />
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header> Links </q-item-label>

        <q-item clickable :to="{ name: 'dashboard' }" exact>
          <q-item-section avatar>
            <q-icon name="o_dashboard" />
          </q-item-section>

          <q-item-section>
            <q-item-label>Dashboard</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable :to="{ name: 'users' }">
          <q-item-section avatar>
            <q-icon name="o_person" />
          </q-item-section>

          <q-item-section>
            <q-item-label>Users</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable :to="{ name: 'equipments' }">
          <q-item-section avatar>
            <q-icon name="o_category" />
          </q-item-section>

          <q-item-section>
            <q-item-label>Equipments</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <q-ajax-bar position="top" color="red" />
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
import { computed, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

const route = useRoute()
const router = useRouter()

const leftDrawerOpen = ref(false)

const toolbarTitle = computed(() => {
  const categoryName = route.params.category_slug.replaceAll('-', ' ')
  return categoryName
})

const checkPage = computed(() => {
  const routeName = route.name
  return routeName == 'add_item' || routeName == 'edit_item'
})

const setToolbartitle = computed(() => {
  return checkPage.value ? route.name.replace('_', ' ') : toolbarTitle.value
})

const goBack = () => {
  router.back()
}
</script>
